@page "/microbiologicals/create"
@using CurrieTechnologies.Razor.SweetAlert2;
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear País</h3>

<MicrobiologicalForm @ref="microbiologicalForm" Microbiological="microbiological" OnValidSubmit="Create"
             ReturnAction="Return" />

@code {
    private Microbiological microbiological = new();
    private MicrobiologicalForm? microbiologicalForm;

    private async Task Create()
    {
        // llama al repositorio y ejecuta el api
        var httpResponse = await repository.Post("/api/microbiologicals", microbiological);
        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            microbiologicalForm!.FormPostedSuccessfully = true;


            navigationManager.NavigateTo("/microbiologicals");
        }
    } // se devuelve a la navegación
    private void Return()
    {
        navigationManager.NavigateTo("/microbiologicals");
    }
}
