@page "/"
@using System.Net;
@using CurrieTechnologies.Razor.SweetAlert2;
@using Lab.WEB.Repositories;
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal

@inject IRepository repository

<h1>Hello, C#!</h1>

<h4>By Developer's:</h4>

Luis Fernando Arango Gomez
<br />
Paola Severiche  Pestana