@page "/"
@using System.Net;
@using CurrieTechnologies.Razor.SweetAlert2;
@using Lab.WEB.Repositories;
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal
@using Microsoft.AspNetCore.Components.Authorization

@inject IRepository repository
@*<AuthorizeView Roles="Admin">
    
    <Authorized>
        <p>Estas autenticado y autorizado,@context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>No estas autorizado</p>
    </NotAuthorized>
</AuthorizeView>*@




<h1>Hello, C#!</h1>

<h4>By Developer's:</h4>

Luis Fernando Arango Gomez
<br />
Paola Severiche  Pestana