@page "/nosotros"
@using System.Net;
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal

@inject IRepository repository

<iframe width="560" height="315" src="https://www.youtube.com/embed/lM12N7MS72s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>

</iframe>

<h1>Hello, C#!</h1>

<h4>By Developer's:</h4>

Luis Fernando Arango Gomez
<br />
Paola Severiche  Pestana