@page "/countries/create"
@using CurrieTechnologies.Razor.SweetAlert2;
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear País</h3>

<CountryForm @ref="countryForm" Country="country" OnValidSubmit="Create"
             ReturnAction="Return" />

@code {
    private Country country = new();
    private CountryForm? countryForm;

    private async Task Create()
    {
        // llama al repositorio y ejecuta el api
        var httpResponse = await repository.Post("/api/countries", country);
        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            countryForm!.FormPostedSuccessfully = true;


            navigationManager.NavigateTo("/countries");
        }
    } // se devuelve a la navegación
    private void Return()
    {
        navigationManager.NavigateTo("/countries");
    }
}

