@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>


    <main>
        <div class="top-row px-4">
            @*<button title="Navigation menu" class="navbar-toggler2">
                <span class="navbar-toggler-icon"></span>
            </button>*@
            <a href="/Nosotros" target="">Nosotros</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
